@charset "UTF-8";
/* styles.css */

/* Style pour la table */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Style pour les boutons */
input[type="submit"] {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Bordure arrondie */
    cursor: pointer; /* Curseur pointeur au survol */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}
